In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head(10)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,10556855,MINORITY ORGAN & TISSUE TRANSPLANT & EDUCATION...,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,10558440,FRIENDS OF ARTS COUNCIL OF GREATER DENHAM SPRI...,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,10566033,ISRAEL EMERGENCY ALLIANCE,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,10570430,ARAMCO BRATS INC,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,10571689,INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0

In [7]:
application_df2=application_df2.drop(['EIN','NAME','SPECIAL_CONSIDERATIONS'],axis=1)
application_df2.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,142590,1

In [8]:
application_df2.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
STATUS                 2
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [9]:
application_df2['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace=["T25","T14","T29","T15","T17","T2"]

In [11]:
# Look at CLASSIFICATION value counts for binning
application_df2["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [12]:
application_df2["CLASSIFICATION"].value_counts()[application_df2['CLASSIFICATION'].value_counts()>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [14]:
classifications_to_replace=["C8000","C7120","C1500","C1800",
                           "C6000","C1250","C8200","C1238","C1278","C1235","C1237","C7210","C2400","C1720","C4100","C1257","C1600","C1260","C2710","C0","C3200","C1234","C1246","C1267","C1256",
                           "C1370","C1236","C2190","C4200","C5200","C1248","C2600","C1580","C6100","C1820","C1900","C2570","C1570","C7000"]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df2['CLASSIFICATION'] = application_df2['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df2['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other      991
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C1728        1
C3700        1
C2500        1
C1283        1
C2380        1
C1732        1
C8210        1
C2170        1
C4120        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [15]:
application_clean_df2=pd.get_dummies(application_df)
application_clean_df2.head(15)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,1,142590,1,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
5,1,5000,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
6,1,31452,1,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
7,1,7508025,1,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
8,1,94389,1,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
9,1,5000,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
10,1,69656,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
11,1,165593,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
12,1,5000,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
13,1,5301,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
14,1,5000,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [16]:
X=application_clean_df2.drop(columns=["IS_SUCCESSFUL"]).values

y=application_clean_df2["IS_SUCCESSFUL"].values

In [17]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=1)

In [24]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [25]:
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 80
hidden_nodes_layer3 = 70
hidden_nodes_layer4 = 50
hidden_nodes_layer4 = 50
hidden_nodes_layer5 = 50
nn = tf.keras.models.Sequential()

In [ ]:
# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# Fifth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# sixth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer5, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

In [26]:
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [27]:
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
1072/1072 [==============================] - 3s 3ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 2/100
1072/1072 [==============================] - 3s 2ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 3/100
1072/1072 [==============================] - 3s 3ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 4/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 5/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 6/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 7/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 8/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 9/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 10/100
1072/1072 [==============================] - 2s 2ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 11/100
1072/1072 [==============================] - 2s 2ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 12/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 13/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 14/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 15/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 16/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 17/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 18/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 19/100
1072/1072 [==============================] - 2s 2ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 20/100
1072/1072 [==============================] - 2s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 21/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 22/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 23/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 24/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 25/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 26/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 27/100
1072/1072 [==============================] - 2s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 28/100
1072/1072 [==============================] - 2s 2ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 29/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 30/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 31/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 32/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 33/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 34/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 35/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 36/100
1072/1072 [==============================] - 2s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 37/100
1072/1072 [==============================] - 2s 2ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 38/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 39/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 40/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 41/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 42/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 43/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 44/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 45/100
1072/1072 [==============================] - 2s 2ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 46/100
1072/1072 [==============================] - 2s 2ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 47/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 48/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 49/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 50/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 51/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 52/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 53/100
1072/1072 [==============================] - 2s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 54/100
1072/1072 [==============================] - 2s 2ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 55/100
1072/1072 [==============================] - 2s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 56/100
1072/1072 [==============================] - 2s 2ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 57/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 58/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 59/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 60/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 61/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 62/100
1072/1072 [==============================] - 2s 2ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 63/100
1072/1072 [==============================] - 2s 2ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 64/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 65/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 66/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 67/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 68/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 69/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 70/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 71/100
1072/1072 [==============================] - 2s 2ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 72/100
1072/1072 [==============================] - 2s 2ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 73/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 74/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 75/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 76/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 77/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 78/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 79/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 80/100
1072/1072 [==============================] - 2s 2ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 81/100
1072/1072 [==============================] - 2s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 82/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 83/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 84/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 85/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 86/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 87/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 88/100
1072/1072 [==============================] - 2s 2ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 89/100
1072/1072 [==============================] - 2s 2ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 90/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 91/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 92/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 93/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 94/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 95/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 96/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 97/100
1072/1072 [==============================] - 2s 2ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 98/100
1072/1072 [==============================] - 2s 2ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 99/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05
Epoch 100/100
1072/1072 [==============================] - 1s 1ms/step - loss: 7.8994 - accuracy: 8.7469e-05

In [28]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

1/1 - 0s - loss: 14.5330 - accuracy: 0.0000e+00 - 249ms/epoch - 249ms/step
Loss: 14.533034324645996, Accuracy: 0.0

In [29]:
nn.save('AlphabetSoupCharity_optimization.hdf5')